<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>


<!-- This file is a template layout for all pages now.
    When we start some View(), all the code inside View goes right here in RenderBody -->